:root {
  --red: #c93721;
}
:root[data-mantine-color-scheme="light"] {
  --tab-background: #0000000a;
  --tab-color: #8e8e8f;
}
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #151718;
  --tab-background: #ffffff0a;
  --tab-color: #787c80;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

.iconpark {
  width: 1em;
  height: 1em;
}
